<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:image" itemprop="image" content="@Configuration["static_url"]assets/img/logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:site_name" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewData["description"]" />
    <meta property="og:updated_time" content="2020-02-05T23:10:58-06:00" />

    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body id="main-body" class="mat-typography" style="background:#424242;">
    <input type="hidden" value="" id="ws-url" />
    <div id="main-container" style="visibility:hidden; opacity: 0;">
        <header>
            <nav id="nav-bar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="@Configuration["static_url"]assets/img/logo-white.svg" class="default-logo" alt="Frakas" width="127" height="31">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script type="text/javascript" src="@Configuration["static_url"]assets/dist/app.bundle.js"></script>
    <script type="text/javascript" src="@Configuration["static_url"]assets/dist/editor.worker.bundle.js"></script>
    <script type="text/javascript" src="@Configuration["static_url"]assets/dist/json.worker.bundle.js"></script>
    <script type="text/javascript" src="@Configuration["static_url"]assets/dist/css.worker.bundle.js"></script>
    <script type="text/javascript" src="@Configuration["static_url"]assets/dist/html.worker.bundle.js"></script>
    <script type="text/javascript" src="@Configuration["static_url"]assets/dist/ts.worker.bundle.js"></script>

    <script type="text/javascript" src="@Configuration["static_url"]runtime.js"></script>
    <script type="text/javascript" src="@Configuration["static_url"]polyfills.js"></script>
    <script type="text/javascript" src="@Configuration["static_url"]main.js"></script>
    <link rel="stylesheet" href="@Configuration["static_url"]styles.css" />
    <script type="text/javascript" src="@Configuration["static_url"]vendor.js"></script>

</body>
</html>
